# General
HOSTING_URL="YOUR URL"

# Convex
# This will be auto generated after running `npx convex dev``
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=""

# When setting up Google OAuth
# Grab it from NEXT_PUBLIC_CONVEX_URL and replace the [name-name-123]
# Paste this when you're in the Oath Consent Screen Setup under Authorized Domains -> name-name-123.convex.site 
# Paste this when you're in the Credentials under Authorized JavaScript Origins -> https://name-name-123.convex.site/api/auth/callback/google

# Analytics
# Go to https://devvault.dev/docs/deployments/analytics-setup to see how to set this up
GA_ID=""
MC_ID=""

# Stripe
# Only replace the [name-name-123] and grab those in the NEXT_PUBLIC_CONVEX_URL
# You'll replace the `STRIPE_URL_ENDPOINT` inside the package.json
STRIPE_URL_ENDPOINT=https://name-name-123.convex.site/stripe
